#filters
  %h6 Searching for:
  %ul
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
    %li Filter
