%nav
  %ul#nav-links
    %li
      %a{ :href => "/edit_user.html" } name@email.com
    %li
      %a{ :href => "" } Sign Out
    %li
      %a{ :href => "/stream.html" } Connections
    %li
      %a{ :href => "" } Liked
    %li
      %a{ :href => "" } Hidden
