%nav
  %ul#nav-links
    %li
      %a{ :href => "" } name@email.com
    %li
      %a{ :href => "" } Sign Out
    %li
      %a{ :href => "" } Connections
    %li
      %a{ :href => "" } Favorites
    %li
      %a{ :href => "" } Hidden
