#stream
  .user-profile
    .user-images
      .main-image
        %img{ :src => "img/sample-3.jpg" }
        .actions
          %a.like
          %a.hide
          %a.flag
    .user-info
      %ul
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
  .user-profile
    .user-images
      .main-image
        %img{ :src => "img/annie-2.jpg" }
        .actions
          %a.like
          %a.hide
          %a.flag
    .user-info
      %ul
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
  .user-profile
    .user-images
      .main-image
        %img{ :src => "img/annie-3.jpg" }
        .actions
          %a.like
          %a.hide
          %a.flag
    .user-info
      %ul
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
        %li Some text
