.user-profile
  .user-images
    .main-image
      %img{ :src => "img/audrey-1.jpg" }
      .actions
        %a.like
          <em>L</em>ike
        %a.hide
          <em>H</em>ide
        // %a.flag 
  .user-info
    %ul
      %li 2 Miles away
      %li 24 years old
      %li 5ft 7in 
      %li Thin
      %li Never smokes
      %li Some text
      %li Some text
      %li Some text
      %li Some text
      %li Some text
