.user_profile
  .user_images
    .main_image
      %img{ :src => "img/audrey-1.jpg" }
      .actions
        %a.like
          <em>L</em>ike
        %a.hide
          <em>H</em>ide
        // %a.flag 
  .user_info
    %dl
      %dt Distance
      %dd 4 mi
      %dt Age
      %dd 24
      %dt Height
      %dd 5ft 7in 
      %dt Body Type
      %dd Thin
      %dt Smokes
      %dd Never
      %dt Drinks
      %dd Sometimes
      %dt Drugs
      %dd Never
      %dt Religion
      %dd Athiest
      %dt Politics
      %dd Liberal
      %dt Speaks
      %dd English, French
      %dt Matches
      %dd Tag 1, Tag 2, Tag 3, Tag 4
