#container
  #sidebar.home
    #signin
      %form
        %p
          %input.input_medium{:placeholder => "email", :type => "text"}
        %p
          %input.input_medium{:type => "text", :placeholder => "password"}
        %p
          %input{:type => "checkbox"}
          %label.label_checkbox Remember Me
          %a{:href => "forgot"} Forgot Password
        %p
          %input{:value => "Sign In", :type => "submit"}
    %h1 
      %a{ :href => "/"} Hearts
    %p Hearts is a free service for meeting interesting people. We're currently rolling out in a few selected cities, but sign up and we'll let you know as soon as it's available in your area.
    #signup
      %form
        %p
          %input.input_medium{:placeholder => "email", :type => "text"}
        %p
          %input.input_medium{:placeholder => "ZIP code", :type => "text"}
        %p
          %input.input_medium{:placeholder => "Invite Code", :type => "text"}
        %p
          %input{:value => "Sign Up", :type => "submit"}
= partial "footer"
